# requirements for shrad-pro
## conda install available
numpy
netCDF4
xarray
pandas
scipy
pip
## pip install required
    attrdict
    jstyleson
    git+https://github.com/hdeneke/trosat-base.git#egg=trosat-base;python_version<"3.10"

# Requirements for docs
sphinx
livereload
markdown
myst-parser
beautifulsoup4
