# requirements for shrad-pro
## conda install available
numpy
netCDF4
xarray
pandas
scipy
pip
## pip install required
    attrdict
    jstyleson
    git+https://github.com/hdeneke/trosat-base.git#egg=trosat-base

# Requirements for docs
sphinx
livereload